
<%= form_for :post, url: posts_path do |post| %>
  <p> Speak Your Mind</p>
  <p>
    <%= post.text_field :title, :placeholder => "Title" %>
  </p>
  <p>
    <%= post.text_area :content, :placeholder => "Body" %>
  </p>
  <p>
    <%= post.submit %>
  </p>
<% end %>
