// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Post Edit Page
.posteditform{
  background-color: #DDDEFA;
  position: relative;
  height: 450px;
  width: 500px;
  left: 650px;
  top: 300px;
  border-radius: 10px;
  border: 3px solid #576490;
}
.postTitle{
  position: relative;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  border: 2px solid #576490;
  top: 10px;
  width: 300px;
  left: 80px;
  color: #576490;
  font-family: 'Roboto', sans-serif;
}
.postBody{
  position: relative;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  border: 2px solid #576490;
  top: 5px;
  width: 300px;
  height: 200px;
  left: 80px;
  color: #576490;
  font-family: 'Roboto', sans-serif;
}
.postSubmit{
  position: relative;
  top: 20px;
  left: 120px;
  border-radius: 10px;
  height: 50px;
  width: 250px;
  font-size: 20px;
  background-color: #7796CB;
  border: 2px solid #7796CB;
  color: #E6E6ED;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}
.backUserEdit{
  position: relative;
  top: 250px;
  left: 780px;
}
.deletepostEdit{
  position: absolute;
  left: 950px;
  top: 785px;
}
// Post Create Page
.backUser{
  position: relative;
  top: 260px;
  left: 840px;
}
.deletepost{
  position: absolute;
  left: 460px;
  top: 407px;
}
#haters{
  position: absolute;
  top: -150px;
  font-size: 30px;
  width: 600px;
  font-family: 'Gloria Hallelujah', cursive;
  letter-spacing: 20px;
}
#postContainer{
  position: relative;
  left: 350px;
  top: 200px;
  height: 1200px;
  width: 1100px;
  background-color: #576490;
}
.commentTitle{
  position: absolute;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  border: 2px solid #576490;
  top: 270px;
  width: 300px;
  left: 405px;
  color: #576490;
  font-family: 'Roboto', sans-serif;
}
.commentBody{
  position: absolute;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  border: 2px solid #576490;
  top: 300px;
  width: 300px;
  height: 100px;
  left: 405px;
  color: #576490;
  font-family: 'Roboto', sans-serif;
}
.commentSubmit{
  position: absolute;
  top: 450px;
  left: 490px;
  border-radius: 10px;
  height: 50px;
  width: 150px;
  font-size: 20px;
  background-color: #7796CB;
  border: 2px solid #576490;
  color: #E6E6ED;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}
#addComment{
  position: absolute;
  left: 410px;
  top: 230px;
  font-family: 'Roboto', sans-serif;
  color: #E6E6ED;
}
#thepostTitle{
  position: relative;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  text-align: center;
  border: 2px solid #576490;
  background-color: #7796CB;
  top: 50px;
  width: 300px;
  left: 400px;
  color: #E6E6ED;
  font-family: 'Roboto', sans-serif;
}
#thepostContent{
  position: relative;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  text-align: left;
  border: 2px solid #576490;
  background-color: #7796CB;
  top: 50px;
  width: 300px;
  height: 400px;
  word-wrap: 250px;
  left: 400px;
  color: #E6E6ED;
  font-family: 'Roboto', sans-serif;
}
#comments{
  position: relative;
  left: 80px;
  top: -280px;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  color: #E6E6ED;
}
#userCommentsTitle{
  position: relative;
  background-color: #E6E6ED;
  left: 80px;
  top: -280px;
  width: 250px;
  border-radius: 5px;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
}
.editComment{
  position: relative;
  left: 80px;
  top: -290px;
  font-family: 'Roboto', sans-serif;
  color: #E6E6ED;
}
// Edit Comment Page
#commenteditContainer{
  background-color: #DDDEFA;
  position: relative;
  height: 450px;
  width: 500px;
  left: 650px;
  top: 250px;
  border-radius: 10px;
  border: 3px solid #576490;
}
.editcommentTitle{
  position: relative;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  border: 2px solid #576490;
  top: 50px;
  width: 300px;
  left: 80px;
  color: #576490;
  font-family: 'Roboto', sans-serif;
}
.editcommentBody{
  position: relative;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  border: 2px solid #576490;
  top: 50px;
  width: 300px;
  height: 200px;
  left: 80px;
  color: #576490;
  font-family: 'Roboto', sans-serif;
}
.editcommentSubmit{
  position: relative;
  top: 100px;
  left: 120px;
  border-radius: 10px;
  height: 50px;
  width: 250px;
  font-size: 20px;
  background-color: #7796CB;
  border: 2px solid #7796CB;
  color: #E6E6ED;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}
.deletecomment{
  position: relative;
  left: 790px;
  top: 120px;
  margin: 5px;
  font-family: 'Roboto', sans-serif;
  color: #7796CB;
}
